@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
}

body {
  overflow: hidden;
  scroll-behavior: smooth;
}

.blinker {
  color: transparent;
  text-shadow: 0 0 0 gray;

}

/**select antd global css */
.ant-select-item-option-selected {
  background-color: #ff7517 !important;
}

.ant-select-item-option:hover {
  background-color: #ff7417b3 !important;
}

.ant-select-selection-item {
  color: #70645c !important;
  font-size: 15px;
}

.ant-picker-input > input {
  color: #70645c !important;
  font-size: 15px;
}

.no-s {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #d9d9d9 white;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 100vw;
}

.ant-picker-ok button {
  background-color: #ff7517 !important;
}

.radio-image {
  display: inline-block;
  cursor: pointer;
}

.hidden-radio {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.radio-image img {
  width: 300px;
  height: 300px;
  border: 2px solid transparent;
}

.hidden-radio:checked + .cont {
  background-color: #ff7517;
}

#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 90px !important;
  right: 25px !important;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #ff7517;
  border-left-color: #ff7517;
  border-radius: 50%;
  -webkit-animation: nprogresss-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* BR Firma Regular */
@font-face {
  font-family: 'BR Firma Regular';
  src: url('/fonts/BR_Firma_Regular.otf') format('opentype');
}

input::placeholder {
  font-family: 'BR Firma Regular'; /* Replace "Arial" with your preferred font family */
  opacity:   var(--tw-text-opacity);
  color: rgb(112 100 92 / var(--tw-text-opacity));
}

h1, h2, h3, div, span{
  font-family: 'BR Firma Regular';
}

label {
  font-family: 'BR Firma Regular';
  font-weight: 700;
}


/* 
.ant-picker-focused.ant-picker {
  border-color: #FFA466 !important;
  box-shadow: 0 0 0 2px #FFA466;
  outline: 0;
} */


@media (max-width: 573px){
  .ant-modal {
    width: 320px !important;
  }
}