@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
}

body {
  overflow: hidden;
  scroll-behavior: smooth;
}

.blinker {
  color: transparent;
  text-shadow: 0 0 0 gray;

}

/**select antd global css */
.ant-select-item-option-selected {
  background-color: #ff7517 !important;
}

.ant-select-item-option:hover {
  background-color: #ff7417b3 !important;
}

.ant-select-selection-item {
  color: #70645c !important;
  font-size: 15px;
}

.ant-picker-input>input {
  color: #70645c !important;
  font-size: 15px;
}

.no-s {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: thin;
  /* Firefox */
  scrollbar-color: #d9d9d9 white;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 100vw;
}

.ant-picker-ok button {
  background-color: #ff7517 !important;
}

.radio-image {
  display: inline-block;
  cursor: pointer;
}

.hidden-radio {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.radio-image img {
  width: 300px;
  height: 300px;
  border: 2px solid transparent;
}

.hidden-radio:checked+.cont {
  background-color: #ff7517;
}

#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 90px !important;
  right: 25px !important;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #ff7517;
  border-left-color: #ff7517;
  border-radius: 50%;
  -webkit-animation: nprogresss-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

.ant-modal-mask {
  opacity: 0.2 !important;
}

.ant-dropdown-menu-submenu-popup {
  max-height: 300px !important;
  overflow-y: auto;

  /* For modern browsers */
  scrollbar-width: thin;
  scrollbar-color: #d9d9d9 transparent;

  /* For IE and Edge */
  -ms-overflow-style: none;

  /* For Webkit browsers (Chrome, Safari) */
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #d9d9d9;
    border-radius: 4px;

    &:hover {
      background-color: #bfbfbf;
    }
  }
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* BR Firma Regular */
@font-face {
  font-family: 'BR Firma Regular';
  src: url('/fonts/BR_Firma_Regular.otf') format('opentype');
}

input::placeholder {
  font-family: 'BR Firma Regular';
  /* Replace "Arial" with your preferred font family */
  opacity: var(--tw-text-opacity);
  color: rgb(112 100 92 / var(--tw-text-opacity));
}

h1,
h2,
h3,
div,
span {
  font-family: 'BR Firma Regular';
}

label {
  font-family: 'BR Firma Regular';
  font-weight: 700;
}


/* 
.ant-picker-focused.ant-picker {
  border-color: #FFA466 !important;
  box-shadow: 0 0 0 2px #FFA466;
  outline: 0;
} */

/* Hide default checkbox */
.custom-checkbox input[type="checkbox"] {
  display: none;
}

/* Create custom checkbox */
.custom-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.custom-checkbox .checkmark {
  height: 15px;
  width: 15px;
  background-color: white;
  border: 2px solid #e5e7eb;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

/* Change background and border color when checked */
.custom-checkbox input[type="checkbox"]:checked+.checkmark {
  background-color: #FF7517;
  /* Change to your preferred color */
  border-color: #FF7517;
}

/* Optional: Add a check icon or symbol inside the checkbox */
.custom-checkbox input[type="checkbox"]:checked+.checkmark::after {
  content: '\2713';
  /* Checkmark symbol */
  color: white;
  font-size: 14px;
}



@media (max-width: 573px) {
  .ant-modal:not(.cv_modal) {
    width: 320px !important;
  }

  .ant-modal.cv_modal {
    width: 90vw !important;
    /*95% of the viewport width */
    /* transform: scale(0.80) translateX(-5%); */
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 24 95% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 24 95% 95%;
    --sidebar-accent-foreground: 24 95% 40%;
    --sidebar-border: 24 95% 90%;
    --sidebar-ring: 24 95% 50%;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 24 95% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 24 95% 25%;
    --sidebar-accent-foreground: 24 95% 90%;
    --sidebar-border: 24 95% 30%;
    --sidebar-ring: 24 95% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

:where(.css-dev-only-do-not-override-95jhdm).ant-dropdown .ant-dropdown-menu,
:where(.css-dev-only-do-not-override-95jhdm).ant-dropdown-menu-submenu .ant-dropdown-menu {
  margin-top: -18px;
}